<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>

<% end %>

<% if @article && current_user.admin? %>
  <h4>Merge Articles</h4>
  <%= form_tag :controller => "admin/content", :action => 'merge_with', :id => @article.id do %>
    <label for="merge_with">Article ID</label>
    <input type="text" name="merge_with">
    <input type="hidden" name="id" value=<%= @article.id %> />
    <%= submit_tag 'Merge', {:class => 'btn'} %>
  <% end %>
<% end %>
